{{page-title "TwiClone"}}

<div class="wrapper container mx-auto " >
  <div class="main-container  grid grid-cols-[30%_auto_33%]">
    <section class="main-container__left-sidebar">
      <img class="logo" src="/assets/images/svg.svg" >
      <div class="nav">
        <nav class="nav__item">
          <img src="" alt="">
        </nav>
      </div>
    </section>

    <section class="main-container__center">

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum accusamus reiciendis fugiat blanditiis earum quo repudiandae voluptates. Fugiat, atque! Fuga voluptate voluptates tempora rem, officia officiis eligendi aliquid quod dolore.
      Accusantium consequuntur hic corporis magni quod inventore. Facilis dolorum soluta porro. Doloribus voluptatum aliquam explicabo consequuntur, et similique! Hic, optio. Eaque sapiente impedit, pariatur quod nostrum iure ad corrupti illum!
      Animi ipsa veritatis doloribus non. Voluptatibus amet sint omnis illo labore? Fugiat odio odit aut distinctio placeat quam ut vel et dignissimos aspernatur corporis itaque fuga nihil facilis, illum inventore.
      Similique consequatur, impedit quidem porro atque asperiores odit unde libero voluptatem iusto vero dolorum distinctio fugiat sunt pariatur voluptates eaque officia molestiae cupiditate repellendus. Iste mollitia culpa at dolore ab?
      Nostrum aut minus consequuntur minima amet laborum eos, exercitationem quas maxime vero obcaecati illo deleniti, doloremque quo optio perferendis, incidunt veritatis ratione consectetur sequi! Omnis sequi aliquid earum quidem distinctio.
      Iure, sit quibusdam magnam ipsa, earum, nam iste maiores quam accusamus sapiente eaque provident esse distinctio. Alias minus quos saepe, est, quas officia ipsam voluptatem ipsum magni ad voluptate consequuntur.
      Quaerat aperiam qui deserunt consequatur neque, vel, consequuntur pariatur quia error, tempore magni! Porro ducimus corporis molestias quos, consectetur natus, nihil dignissimos fugiat quas esse ullam cumque ab iste voluptatem?
      Labore rem dicta maiores ad officiis similique veniam voluptas quibusdam atque maxime aut, blanditiis hic omnis. Ea, sed voluptatibus corporis quo asperiores nemo ducimus eveniet cum ullam animi. Facilis, dolorem!
      Dignissimos unde soluta laudantium debitis ut corrupti maxime maiores doloremque perspiciatis iste. Voluptate culpa labore quibusdam optio expedita animi. Unde, dolores dolorum aliquam quas ipsa veritatis repellendus exercitationem doloremque. Commodi?
      Unde similique itaque blanditiis corrupti numquam! Veniam obcaecati adipisci fugit, tenetur hic ut facilis, amet odit officiis eaque aliquid, cupiditate cum? Earum, perspiciatis enim architecto odit tempore quasi dolor! Deserunt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum accusamus reiciendis fugiat blanditiis earum quo repudiandae voluptates. Fugiat, atque! Fuga voluptate voluptates tempora rem, officia officiis eligendi aliquid quod dolore.
      Accusantium consequuntur hic corporis magni quod inventore. Facilis dolorum soluta porro. Doloribus voluptatum aliquam explicabo consequuntur, et similique! Hic, optio. Eaque sapiente impedit, pariatur quod nostrum iure ad corrupti illum!
      Animi ipsa veritatis doloribus non. Voluptatibus amet sint omnis illo labore? Fugiat odio odit aut distinctio placeat quam ut vel et dignissimos aspernatur corporis itaque fuga nihil facilis, illum inventore.
      Similique consequatur, impedit quidem porro atque asperiores odit unde libero voluptatem iusto vero dolorum distinctio fugiat sunt pariatur voluptates eaque officia molestiae cupiditate repellendus. Iste mollitia culpa at dolore ab?
      Nostrum aut minus consequuntur minima amet laborum eos, exercitationem quas maxime vero obcaecati illo deleniti, doloremque quo optio perferendis, incidunt veritatis ratione consectetur sequi! Omnis sequi aliquid earum quidem distinctio.
      Iure, sit quibusdam magnam ipsa, earum, nam iste maiores quam accusamus sapiente eaque provident esse distinctio. Alias minus quos saepe, est, quas officia ipsam voluptatem ipsum magni ad voluptate consequuntur.
      Quaerat aperiam qui deserunt consequatur neque, vel, consequuntur pariatur quia error, tempore magni! Porro ducimus corporis molestias quos, consectetur natus, nihil dignissimos fugiat quas esse ullam cumque ab iste voluptatem?
      Labore rem dicta maiores ad officiis similique veniam voluptas quibusdam atque maxime aut, blanditiis hic omnis. Ea, sed voluptatibus corporis quo asperiores nemo ducimus eveniet cum ullam animi. Facilis, dolorem!
      Dignissimos unde soluta laudantium debitis ut corrupti maxime maiores doloremque perspiciatis iste. Voluptate culpa labore quibusdam optio expedita animi. Unde, dolores dolorum aliquam quas ipsa veritatis repellendus exercitationem doloremque. Commodi?
      Unde similique itaque blanditiis corrupti numquam! Veniam obcaecati adipisci fugit, tenetur hic ut facilis, amet odit officiis eaque aliquid, cupiditate cum? Earum, perspiciatis enim architecto odit tempore quasi dolor! Deserunt.
    </section>

    <section class="main-container__right-sidebar-container">
      <div class="main-container__right-sidebar fixed">
        right sidebar
      </div>
    </section>

  </div>

</div>

{{outlet}}